<footer class="footer">
  <h4 class="footer-text">Criado por Douglas Ferreira da Silva</h4>
  <div class="footer-links">
    <a href="https://dougfsilva.github.io/portfolio/" target="_blank">
      <h4 class="footer-text">
        <mat-icon>assessment</mat-icon>
        Meu portfólio
      </h4>
    </a>
    <a
      href="https://linkedin.com/in/douglas-ferreira-da-silva-bba88623a"
      target="_blank"
    >
      <h4 class="footer-text">
        <img
          src="assets/img/linkedin-icon.png"
          alt="linkedin-icon"
          class="footer-links-icon"
        />
        Meu Linkedin
      </h4>
    </a>
    <a href="https://github.com/DougFSilva" target="_blank">
      <h4 class="footer-text">
        <img
          src="assets/img/github-icon.png"
          alt="github-icon"
          class="footer-links-icon"
        />
        Meu github
      </h4>
    </a>
  </div>
</footer>
