.container {
  width: 100%;
  background-color: #555;
}

header {
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}

h1 {
  color: white;
  font-weight: 500;
  text-align: center;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
}

.button-create {
  width: 7rem;
  background-color: darkgreen;
  color: white;
  margin-left: .5rem;
}

.button-delete-all {
  width: 7rem;
  margin-left: .5rem;
}

.button-refresh {
  width: 7rem;
  margin-left: .5rem;
  background-color: darkcyan;
}

.button-reconnect {
  width: 7rem;
  margin-left: .5rem;
  background-color: darkslateblue;
}

.header-menu {
  display: none;
  width: 100%;
  margin: auto;
}

.button-menu {
  width: 5rem;
  background-color: darkslateblue;
  color: white;
  margin-right: .5rem;
}

main {
  width: 100%;
  margin: auto;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.device-card {
  height: auto;
  margin: .5rem;
  background-color: white;
  border-radius: .5rem;
}

.device-card-menu {
  float: right;
  margin-top: .5rem;
}

.device-card-content {
  margin: 1rem;
}

.device-card-name {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.device-card-location {
  display: block;
  color: darkslateblue;
  font-weight: bold;
  word-break: break-all;
  margin: 0;
}

.device-card-status {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-top: .5rem;
}

.device-card-icon-true{
  color: green;
}

.device-card-icon-false{
  color: #555;
}

.device-card-buttons {
  display: flex;
  justify-content: center;
}

.device-card-button {
  width: 40%;
  margin: 1%;
  font-weight: 500;
  color: white;
}

.device-card-button-on {
  background-color: green;
}

.device-card-button-off {
  background-color: red;
}

@media only screen and (max-width:900px) {

  h1 {
    font-size: 100%;
  }

  .header-buttons {
    display: none;
  }

  .header-menu {
    display: block;
  }

  .button-menu {
    float: right;
  }

  main {
    grid-template-columns: auto;
  }

}
