<div class="container">
  <h1>DISPOSITIVOS DE MEDIÇÃO</h1>
  <header>
    <div class="header-buttons">
      <button mat-raised-button (click)="create()" class="button-create">
        <mat-icon>add_box</mat-icon>Adicionar
      </button>
      <button mat-raised-button color="warn" (click)="deleteAll()" class="button-delete-all">
        <mat-icon>delete_forever</mat-icon>Todos
      </button>
      <button mat-raised-button (click)="dataUpdate()" class="button-refresh">
        <mat-icon>refresh</mat-icon>Atualizar
      </button>
      <button mat-raised-button (click)="webSocketConnect()" class="button-reconnect">
        <mat-icon>network_wifi</mat-icon>Conectar
      </button>
    </div>
    <div class="header-menu">
      <button mat-raised-button [matMenuTriggerFor]="principalMenu" aria-label="Icon menu" class="button-menu">
        <mat-icon>menu</mat-icon>Mais
      </button>
      <mat-menu #principalMenu="matMenu">
        <button mat-menu-item (click)="create()">
          <mat-icon>add_box</mat-icon>
          <span>Adicionar</span>
        </button>
        <button mat-menu-item  (click)="deleteAll()">
          <mat-icon>delete_forever</mat-icon>
          <span>Deletar todos</span>
        </button>
        <button mat-menu-item (click)="dataUpdate()">
          <mat-icon>refresh</mat-icon>
          <span>Atualizar</span>
        </button>
        <button mat-menu-item (click)="webSocketConnect()">
          <mat-icon>network_wifi</mat-icon>
          <span>Conectar</span>
        </button>
      </mat-menu>
    </div>
    <section class="header-datetime-filter">
      <div class="datetime-filter-inputs">
        <input type="datetime-local" name="initial-datetime" class="datetime-selector mat-elevation-z4"
          [(ngModel)]="initialDateTime">
        <input type="datetime-local" name="final-datetime" class="datetime-selector mat-elevation-z4"
          [(ngModel)]="finalDateTime">
        <input type="number" name="measurement-limit" class="measurement-limit mat-elevation-z4"
          [(ngModel)]="measurementLimit">
      </div>
      <button mat-raised-button (click)="dateTimeFilter()"
        class="datetime-filter-button mat-elevation-z4"><mat-icon>filter_list</mat-icon>filtrar
      </button>
    </section>
  </header>
  <mat-divider class="divider"></mat-divider>
  <main>
    <section *ngFor="let device of devices" class="device-card mat-elevation-z4">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon menu" class="device-card-menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="updateById(device.id)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="deleteById(device.id)">
          <mat-icon>delete_forever</mat-icon>
          <span>Deletar dispositivo</span>
        </button>
        <button mat-menu-item (click)="deleteAllMeasuredValues(device.id)">
          <mat-icon>delete</mat-icon>
          <span>Deletar medições</span>
        </button>
        <button mat-menu-item ngxClipboard
          [cbContent]=' "iot/MeasuringDevice/" + device.id'
          (click)="copySucessfully()"
          #tooltip="matTooltip"
          [matTooltip]=' "iot/MeasuringDevice/" + device.id'
          matTooltipPosition="left"
          matTooltipHideDelay="10000"
        >
          <mat-icon>file_copy</mat-icon>
          Copiar topico MQTT
        </button>
      </mat-menu>
      <div class="device-card-content">
        <h2 class="device-card-name">{{ device.name }}</h2>
        <h3 class="device-card-location">{{ device.location }}</h3>
        <mat-tab-group animationDuration="400ms">
          <mat-tab label="Gráfico">
            <div class="chartArea">
              <canvas baseChart width="600" height="250"
                [data]="getChartConfiguration(device)"
                [options]="lineChartOptions"
                [type]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"
                [labels]="device.keyNames">
              </canvas>
            </div>
          </mat-tab>

          <mat-tab label="Tabela">
            <table>
              <tr>
                <th>Data</th>
                <th>Timestamp</th>
                <th *ngFor="let keyName of device.keyNames">{{keyName}}</th>
                <th></th>
              </tr>
              <tr *ngFor="let measuredValue of device.values">
                <td>{{measuredValue.timestamp | date: 'dd/MM/yyyy'}}</td>
                <td>{{measuredValue.timestamp | date: 'hh:mm:ss'}}</td>
                <td *ngFor="let value of measuredValue.values">{{value}}</td>
                <td>
                  <mat-icon (click)="deleteMeasuredValue(measuredValue.deviceId, measuredValue.id)">
                  delete_forever
                  </mat-icon>
                </td>
              </tr>
            </table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </section>
  </main>
</div>
