.container {
  width: 100%;
  background-color: #555;
}

.header {
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}

.title {
  color: white;
  font-weight: 500;
  text-align: center;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
}

.button-create {
  width: 7rem;
  background-color: darkgreen;
  color: white;
  margin-left: .5rem;
}

.button-delete-all {
  width: 7rem;
  margin-left: .5rem;
}

.button-refresh {
  width: 7rem;
  margin-left: .5rem;
  background-color: darkcyan;
}

.button-reconnect {
  width: 7rem;
  margin-left: .5rem;
  background-color: darkslateblue;
}

.header-menu {
  display: none;
  width: 100%;
  margin: auto;
}

.button-menu {
  width: 5rem;
  background-color: darkslateblue;
  color: white;
  margin-right: .5rem;
}

.header-datetime-filter{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.datetime-selector{
  height: 1.6rem;
  margin:.5rem;
  padding: .2rem;
  border-radius: .8rem;
}

.datetime-filter-button {
  background-color: green;
  color: white;
  margin: .5rem;
}

.content {
  width: 100%;
  margin-top: 1rem;
}

.device-card {
  width: 98%;
  margin: 1rem auto;
  background-color: white;
  border-radius: .5rem;
}

.device-card-content {
  padding: 1rem;
}

.device-card-menu {
  float: right;
}

.device-card-text-key {
  margin: auto;
}

.device-card-text-value {
  color: darkslateblue;
  font-weight: 500;
  word-wrap: break-word;
}

table {
  width: 60%;
  margin: 1rem auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table mat-icon {
  color:red;
  cursor: pointer;
}

@media only screen and (max-width:900px) {

  .title {
    font-size: 100%;
  }

  .header-buttons {
    display: none;
  }

  .header-menu {
    display: block;
  }

  .button-menu {
    float: right;
  }

  .header-datetime-filter{
    display: flex;
    flex-direction: column;
  }

}
