<div class="container">
  <h1>DISPOSITIVOS ANALÓGICOS</h1>
  <header>
    <div class="header-buttons">
      <button mat-raised-button (click)="create()" class="button-create">
        <mat-icon>add_box</mat-icon>Adicionar
      </button>
      <button mat-raised-button color="warn" (click)="deleteAll()" class="button-delete-all">
        <mat-icon>delete_forever</mat-icon>Todos
      </button>
      <button mat-raised-button (click)="dataUpdate()" class="button-refresh">
        <mat-icon>refresh</mat-icon>Atualizar
      </button>
      <button mat-raised-button (click)="webSocketConnect()" class="button-reconnect">
        <mat-icon>network_wifi</mat-icon>Conectar
      </button>
    </div>
    <div class="header-menu">
      <button mat-raised-button [matMenuTriggerFor]="principalMenu" aria-label="Icon menu" class="button-menu">
        <mat-icon>menu</mat-icon>Mais
      </button>
      <mat-menu #principalMenu="matMenu">
        <button mat-menu-item (click)="create()">
          <mat-icon>add_box</mat-icon>
          <span>Adicionar</span>
        </button>
        <button mat-menu-item  (click)="deleteAll()">
          <mat-icon>delete_forever</mat-icon>
          <span>Deletar todos</span>
        </button>
        <button mat-menu-item (click)="dataUpdate()">
          <mat-icon>refresh</mat-icon>
          <span>Atualizar</span>
        </button>
        <button mat-menu-item (click)="webSocketConnect()">
          <mat-icon>network_wifi</mat-icon>
          <span>Conectar</span>
        </button>
      </mat-menu>
    </div>
  </header>
  <mat-divider></mat-divider>
  <main>
    <section *ngFor="let device of devices" class="device-card mat-elevation-z4">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon menu" class="device-card-menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="updateById(device.id)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="deleteById(device.id)">
          <mat-icon>delete_forever</mat-icon>
          <span>Deletar</span>
        </button>
        <button mat-menu-item
          ngxClipboard [cbContent]=' "iot/AnalogOutputDevice/" + device.id'
          (click)="copySucessfully()"
          #tooltip="matTooltip"
          [matTooltip]=' "iot/AnalogOutputDevice/" + device.id'
          matTooltipPosition="left"
          matTooltipHideDelay="10000"
          >
          <mat-icon>file_copy</mat-icon>
          Copiar topico MQTT
        </button>
      </mat-menu>
      <div class="device-card-content">
        <span class="device-card-name">{{ device.name }}</span>
        <span class="device-card-location">{{ device.location }}</span>
        <span class="device-card-output">{{ device.output }}</span>
        <mat-slider
          class="device-card-slider"
          [disabled]="disabled"
          [invert]="invert"
          [max]="max"
          [min]="min"
          [step]="step"
          [thumbLabel]="thumbLabel"
          [tickInterval]="getSliderTickInterval()"
          [(ngModel)]="device.output"
          [vertical]="vertical"
          aria-labelledby="name-label"
          (change)="updateOutput(device.id, device.output)"
        >
        </mat-slider>
      </div>
    </section>
  </main>
</div>
