<div class="container">
  <header>
    <h1>MyIot Home</h1>
  </header>
  <div class="grid">
    <div class="card mat-elevation-z4" routerLink="/analog-output-device/all">
      <h1>Dispositivos Analógicos</h1>
    </div>
    <div class="card mat-elevation-z4" routerLink="/discrete-device/all">
      <h1>Dispositivos Discretos</h1>
    </div>
    <div class="card mat-elevation-z4" routerLink="/measuring-device/all">
      <h1>Dispositivos de Medição</h1>
    </div>
    <div class="card mat-elevation-z4" routerLink="/user">
      <h1>Minha conta</h1>
    </div>
  </div>
</div>
