.container{
  width: 100%;
}

header {
  width: 100%;
}

h1 {
  margin-top: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  animation: title-animation infinite 3s;
  animation-direction: alternate;
}

main {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 1rem;
}

main div:nth-child(1){
  background-image: url("../../../assets/img/analog-device.jpeg");
}

main div:nth-child(2){
  background-image: url("../../../assets/img/discrete-device.jpeg");
}

main div:nth-child(3){
  background-image: url("../../../assets/img/measuring-device.jpeg");
}

main div:nth-child(4){
  background-image: url("../../../assets/img/account.jpeg");
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20rem;
  border: solid 1px white ;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.01);
}

h2 {
  width: 90%;
  margin: auto;
  background-color: #555;
  color: white;
  border-radius: .5rem;
  font-weight: 500;
  text-align: center;
}

@media only screen and (max-width:768px){
  main {
    grid-template-columns: auto;
  }
}

@keyframes title-animation {
  0% {color: red;}
  50% {color: darkslateblue;}
  100% {color: red;}
}
