.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  color: white;
  font-weight: 500;
  text-align: center;
}

.user-table, header{
  width: 95%;
  margin: auto;
}

.table-filter {
  margin-top: 1rem;
  width: 100%;
  color: white;
}

.button-refresh {
  background-color: darkslateblue;
  color: white;
  margin-bottom: .5rem;
}

mat-checkbox{
  margin-left: 1rem;
  color: white;
}

table {
  width: 100%;
}

.table-icon-options {
  transform: scale(.8);
  color: darkslateblue;
  cursor: pointer;
}

.user-card {
  display: none;
  width: 95%;
  margin: auto;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.card-icon-options{
  float: right;
  cursor: pointer;
}

.card-item span:nth-child(1){
  display: inline-block;
  margin-right: .5rem;
  font-weight: 500;
}

@media only screen and (max-width:900px) {

  h1 {
    font-size: 100%;
  }

  .user-table {
    display: none;
  }

  .user-card {
    display: block;
  }

}

