<div class="container">
  <h1>USUÁRIOS</h1>
  <header>
    <mat-form-field appearance="standard" class="table-filter">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium"#input/>
    </mat-form-field>
    <button mat-raised-button (click)="updateData()" class="button-refresh">
      <mat-icon>refresh</mat-icon>Atualizar
    </button>
    <mat-checkbox [formControl]="selectNotApproved" (change)="filterByNotApproved()">
      Não aprovados
    </mat-checkbox>
  </header>
  <section class="user-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="approvedRegistration">
        <th mat-header-cell *matHeaderCellDef>Aprovação</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.approvedRegistration; else elseBlock">
            Aprovado
          </div>
          <ng-template #elseBlock>Não aprovado</ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef>Perfil</th>
        <td mat-cell *matCellDef="let element">
          {{ element.profiles[0].type }}
        </td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="table-icon-options" [matMenuTriggerFor]="menu">settings</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="approvedRegistration(element.id, true)">
              <mat-icon>how_to_reg</mat-icon>Aprovar registro
            </button>
            <button mat-menu-item (click)="approvedRegistration(element.id, false)">
              <mat-icon>not_interested</mat-icon>Desaprovar registro
            </button>
            <button mat-menu-item [matMenuTriggerFor]="menu_profile">
              <mat-icon>edit</mat-icon>Alterar perfil
            </button>
            <mat-menu #menu_profile="matMenu">
              <button mat-menu-item (click)="updateProfile(element, 'ROLE_ADMIN')">
                ADMIN
              </button>
              <button mat-menu-item (click)="updateProfile(element, 'ROLE_GOLD_USER')">
                GOLD_USER
              </button>
              <button mat-menu-item (click)="updateProfile(element, 'ROLE_SILVER_USER')">
                SILVER_USER
              </button>
            </mat-menu>
            <button mat-menu-item (click)="deleteById(element.id)">
              <mat-icon>delete_forever</mat-icon>Deletar
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Sem dados!</td>
      </tr>
    </table>
  </section>
  <section class="user-card">
    <div class="card mat-elevation-z4" *ngFor="let user of dataSource.filteredData">
      <mat-icon class="card-icon-options" [matMenuTriggerFor]="menu">more_vert</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="approvedRegistration(user.id, true)">
              <mat-icon>how_to_reg</mat-icon>Aprovar registro
            </button>
            <button mat-menu-item (click)="approvedRegistration(user.id, false)">
              <mat-icon>not_interested</mat-icon>Desaprovar registro
            </button>
            <button mat-menu-item [matMenuTriggerFor]="menu_profile">
              <mat-icon>edit</mat-icon>Alterar perfil
            </button>
            <mat-menu #menu_profile="matMenu">
              <button mat-menu-item (click)="updateProfile(user, 'ROLE_ADMIN')">
                ADMIN
              </button>
              <button mat-menu-item (click)="updateProfile(user, 'ROLE_GOLD_USER')">
                GOLD_USER
              </button>
              <button mat-menu-item (click)="updateProfile(user, 'ROLE_SILVER_USER')">
                SILVER_USER
              </button>
            </mat-menu>
            <button mat-menu-item (click)="deleteById(user.id)">
              <mat-icon>delete_forever</mat-icon>Deletar
            </button>
          </mat-menu>
          <div class="card-item">
            <span>Email:</span>
            <span>{{user.email}}</span>
          </div>
          <div class="card-item">
            <span>Nome:</span>
            <span>{{user.name}}</span>
          </div>
          <div class="card-item">
            <span>Aprovação:</span>
            <span *ngIf="user.approvedRegistration; else elseBlock">Aprovado</span>
            <ng-template #elseBlock><h4>Não aprovado</h4></ng-template>
          </div>
          <div class="card-item">
            <span>Perfil:</span>
            <span>{{user.profiles[0].type}}</span>
          </div>
    </div>
  </section>
</div>
