<div class="container">
    <h1>Alterar password</h1>
    <form>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Digite o password atual</mat-label>
        <input
          type="password"
          matInput
          placeholder="P@assw0rd..."
          [formControl]="currentPasswordValidate"
          [(ngModel)]="form.currentPassword"
          name="currentPassword"
          required
        />
        <mat-icon matSuffix class="icon">lock_outline</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Digite o novo password</mat-label>
        <input
          type="password"
          matInput
          placeholder="P@assw0rd..."
          [formControl]="newPasswordValidate"
          [(ngModel)]="form.newPassword"
          name="newPassword"
          required
        />
        <mat-icon matSuffix class="icon">lock_outline</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Confirme o novo password</mat-label>
        <input
          type="password"
          matInput
          placeholder="P@assw0rd..."
          [formControl]="confirmPasswordValidate"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        />
        <mat-icon matSuffix class="icon">lock_outline</mat-icon>
      </mat-form-field>
      <button mat-raised-button [disabled]="!validateFields()" (click)="updatePassword()" class="form-button-update">
        Atualizar
      </button>
      <button mat-stroked-button class="form-button-cancel" color="warn" mat-dialog-close="false">
        Cancelar
      </button>
    </form>
</div>
